.hero {
  background-color: #191919;
  background-image: url('/assets/home/desktop/image-hero.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 128px 0 158px;
  margin-top: -96px;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero__content {
  max-width: 398px;
  color: var(--color-white);
}

.hero__content .overline {
  color: var(--color-white);
  opacity: 0.5;
  margin-bottom: 24px;
  display: block;
}

.hero__content h1 {
  color: var(--color-white);
  margin-bottom: 24px;
  line-height: 1.036;
}

.hero__description {
  color: var(--color-white);
  opacity: 0.75;
  margin-bottom: 40px;
  line-height: 25px;
}

/* Tablet Styles */
@media (max-width: 1439px) {
  .hero {
    background-image: url('/assets/home/tablet/image-header.jpg');
    padding: 126px 0 167px;
    text-align: center;
    margin-top: -90px;
  }

  .hero__content {
    max-width: 379px;
    margin: 0 auto;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .hero {
    background-image: url('/assets/home/mobile/image-header.jpg');
    padding: 108px 0 112px;
    margin-top: -90px;
  }

  .hero__content {
    max-width: 328px;
  }

  .hero__content h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
  }
}