.quantity-selector {
  display: flex;
  align-items: center;
  background-color: var(--color-grey);
  height: 48px;
  width: 120px;
}

.quantity-selector__btn {
  flex: 1;
  height: 100%;
  background: none;
  border: none;
  color: var(--color-black);
  opacity: 0.25;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-selector__btn:hover:not(:disabled) {
  color: var(--color-primary);
  opacity: 1;
}

.quantity-selector__btn:disabled {
  cursor: not-allowed;
  opacity: 0.15;
}

.quantity-selector__value {
  flex: 1;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-black);
}